<% content_for :title do %>
  <h1>Edit <%= @child.name.capitalize %>'s Profile</h1>
<% end %>

<div class="container" data-controller="image-preview" >
  <div class="row">
    <div class="col-xs-12.col-sm-3.col-sm-offset">
      <div class="child-profile">
        <%= simple_form_for(@child, method: :patch, data: { turbo: :false }) do |f| %>
          <%= f.error_notification %>
          <div class="text-center">
            <%= render 'shared/avatar',
              human: @child,
              size: "bordered",
              pointer: true,
              data: {
                "image-preview-target": "output",
                action: "click->image-preview#uploadFile"
              }
            %>
            <div class="mt-2 mb-3">
              <button type="button" class="btn btn-outline btn-sm" data-action="click->image-preview#uploadFile">
                Upload Photo
                <i class="fa-solid fa-arrow-up-from-bracket"></i>
              </button>
            </div>
            </div>
            <%= f.input :photo,
                        label: false,
                        required: true,
                        as: :file,
                        input_html: {
                          class: "d-none",
                          data: {
                            "image-preview-target": "input",
                            action: "image-preview#readURL"
                          }
                        } %>
            <div class="form-inputs mb-5">
                <%= f.input :name,
                            required: true,
                            autofocus: true,
                            input_html: { autocomplete: "name" },
                            placeholder: "Enter name" %>

                <label for="age" class="form-label">Age</label>
                <%= f.select(:age, ["0 - 12 mths", "13 - 24mths", "25 - 36 mths"], {}, {required: true, class: "form-select form-select"}) %>

                <label for="gender" class="form-label"></label>
                <%= f.input :gender, as: :select, collection: ['boy', 'girl'], required: true %>

                <div class="form-actions text-center">
                  <%= f.button :submit, "Save", class:"btn btn-primary btn-action" %>
                </div>
            </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
