<% content_for :title do %>
  <h1>Add Child Profile</h1>
<% end %>

<div class="container" data-controller="image-preview" >
  <div class="row">
    <div class="col-xs-12.col-sm-3.col-sm-offset">
      <div class="child-profile">

      <%= simple_form_for(@child, url: edit_child_path, data: { turbo: :false }) do |f| %>
          <%= f.error_notification %>
          <div class="text-center">
            <%= render 'shared/avatar',
              size: "bordered",
              pointer: true,
              data: {
                "image-preview-target": "output",
                action: "click->image-preview#uploadFile"
              }
            %>
            <div class="mt-2 mb-3">
              <button type="button" class="btn btn-outline-mybnb btn-sm" data-action="click->image-preview#uploadFile">
                Upload a Photo
              </button>
            </div>
          </div>
          <%= f.input :photo,
                      label: false,
                      required: true,
                      as: :file,
                      input_html: {
                        class: "d-none",
                        data: {
                          "image-preview-target": "input",
                          action: "image-preview#readURL"
                        }
                      } %>

          <%= f.input :name,
                      required: true,
                      autofocus: true,
                      input_html: { autocomplete: "name" },
                      placeholder: "Enter name" %>

          <%= f.input :age, label:"Age Range", as: :select, collection: [["0 - 12 mths", "0 - 12 mths"], ["13 - 24 mths", "13 - 24 mths"], ["25 - 36 mths", "25 - 36 mths"]], prompt: "Select age range", required: true %>
          <%= f.input :gender, as: :select, collection: ['boy', 'girl'], prompt: "Select gender", required: true %>

          <div class="form-actions text-center">
            <%= f.button :submit, "Save", class:"btn btn-primary btn-action" %>
          </div>

        <% end %>
      </div>
    </div>
  </div>
</div>
