<% content_for :title do %>
  <h1>Add Profile</h1>
<% end %>

<div class="container">
  <div class="row">
    <div class="col-xs-12.col-sm-3.col-sm-offset">
      <div class="Add child profile">

        <div class="child-avatar text-center"> <%# to find ways to upload avatar %>
          <%= image_tag("child_avatar.png", style: "width: 100px") %>
        </div>
        <br>

        <%# <label for="name" class="form-label">Child's Name</label>
        <%= simple_form_for(@children, url: new_child_path, data: { turbo: :false }) method: :get do |f| %>
          <%# <div class="form-inputs mb-5">
              <%= f.input :name,
                          required: true,
                          autofocus: true,
                          input_html: { autocomplete: "name" },
                          placeholder: "Enter name" %>

            <%# <label for="age" class="form-label">Age</label>
            <%= f.select(:age_group, [["Select age group",""],"0 - 12 mths", "13 - 24mths", "25 - 36 mths"], {}, {class: "form-select form-select-lg mb-3"}) %>

            <%# <label for="gender" class="form-label">Gender</label>
            <%= f.input :gender, as: :select, collection: [['boy',true], ['girl',false]], required: true, include_blank: false %>

            <%# <div class="form-actions text-center">
              <%= f.button "Save", class:"btn btn-primary btn-action"%>
            <%# </div> %>
          <%# <% end %>

      </div>
    </div>
  </div>
</div>
