<% content_for :title do %>
  <h1>Profile</h1>
<% end %>

<%= render @child %>

<div class="container">
  <div class="row">
    <div class="col-xs-12.col-sm-3.col-sm-offset">
      <div class="profile text-center">

           <%= image_tag("child_avatar.png", style: "width: 100px") %>
          <br>


      </div>
    </div>
  </div>
<div>
  <%# <% if policy(@child).edit? %>
    <%# <%= link_to "Edit this child", edit_child_path(@child) %> |
  <%# <% end %>
  <%# <%= link_to "Back to children", children_path %>

  <%# <%= button_to "Destroy this child", @child, method: :delete if policy(@child).destroy? %>
<%# </div> %>
<%#  %>
