<p style="color: green"><%= notice %></p>

<%= render @child %>

<div>
  <%= link_to "Edit this child", edit_child_path(@child) %> |
  <%= link_to "Back to children", children_path %>

  <%= button_to "Destroy this child", @child, method: :delete %>
</div>
