<% content_for :title do %>
  <h1>Profile</h1>
<% end %>

<div class="container">
  <div class="row">
    <div class="col-xs-12.col-sm-3.col-sm-offset">
      <div class="profile text-center">

           <%= image_tag("child_avatar.png", style: "width: 100px") %>
          <br>
          <br>
          <%= render @child %>
          <div>
            <%= @child.name %> <span class="material-symbols-outlined">edit</span>
          </div>
          <br>

          <div class="profile">
            Age: <%= @child.age %>
          </div>
          <div class="profile">
            Gender: <%= @child.gender %>
          </div>

          <div class="profile">
          <%= link_to activity_path do %>
          <div class="profile-text">Completed Activities</div>
          <% end %>

        <%# auto swipe left carousel %>
        <div id="completedActivities" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-indicators">
            <button type="button" data-bs-target="#completedActivities" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#completedActivities" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#completedActivities" data-bs-slide-to="2" aria-label="Slide 3"></button>
          </div>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="..." class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img src="..." class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img src="..." class="d-block w-100" alt="...">
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#completedActivities" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#completedActivities" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
        </div>
    </div>
  </div>
<div>

  <%# <% if policy(@child).edit? %>
    <%# <%= link_to "Edit this child", edit_child_path(@child) %>
  <%# <% end %>
  <%# <%= link_to "Back to children", children_path %>

  <%# <%= button_to "Destroy this child", @child, method: :delete if policy(@child).destroy? %>
<%# </div> %>
<%#  %>
