<div class="container">
  <div class="row">
    <div class="col-xs-12.col-sm-3.col-sm-offset-4">
      <div class="form-signup">

      <h2>Create Account</h2>
        <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), data: { turbo: :false }) do |f| %>
          <%= f.error_notification %>

          <div class="form-inputs">
            <%# <%= f.input :username,
                        required: false,
                        autofocus: true,
                        input_html: { autocomplete: "username" },
                        placeholder: "AlexHanson" %>
            <%= f.input :email,
                        required: true,
                        autofocus: true,
                        input_html: { autocomplete: "email" },
                        placeholder: "alex@gmail.com"%>
            <%= f.input :password,
                        required: true,
                        hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                        input_html: { autocomplete: "new-password" },
                        placeholder: "......"%>
            <%= f.input :password_confirmation,
                        required: true,
                        input_html: { autocomplete: "new-password" },
                        placeholder: "......" %>

          </div>

          <div class="form-actions">
            <%= f.button :submit, "Sign up", class:"btn-primary btn-action"%>
          </div>
        <% end %>

        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</div>
