<% content_for :title do %>
  <%= image_tag("playsnap_logo.png", style: "width: 100px") %>
<% end %>

<div class="container">
  <div class="row">
    <video style="max-width: 100%" autoplay="autoplay" loop="loop" muted="muted" class="g-0" src="https://res.cloudinary.com/dalqqut38/video/upload/v1664366631/playsnap_1_ichnb2.mp4"></video>
    <div class="col-xs-12.col-sm-3.col-sm-offset-4">
      <div class="page-container" data-controller="autocomplete">

        <h1>Independent play activities with ANYTHING you have on hand, in a snap!</h1>
        <label for="objectToSearch" class="form-label">I have</label>
        <%= form_with url: activities_path,
                      method: :get, html:
                      {class: "mb-3", data: {autocomplete_target: "form"}} do |f| %>
         <div class="autocomplete">
          <%= f.text_field :query,
                            class: "form-control",
                            placeholder: "Object",
                            required: true,
                            data: {autocomplete_target: "input",
                            action: "keyup->autocomplete#update"} %>
          <div data-autocomplete-target="list"></div>

          <label for="ageRange" class="form-label">for</label>
          <%= f.select(:age_group, [["Select age group",""],"0 - 12 mths", "13 - 24mths", "25 - 36 mths"], {}, {class: "form-select form-select-lg mb-3"}) %>

          <label for="category" class="form-label">to develop</label>
          <%= f.select(:category_id, Category.all.map { |c| [c.name.titleize, c.id] }.unshift(["Select a category",""]), {}, {class: "form-select form-select-lg mb-3"}) %>
          <p class="footnote"><em>*See below to find out more!</em></p>
          <div class="form-actions text-center mt-4 mb-5">
            <%= f.button "Search", class:"btn btn-primary btn-action"%>
          </div>
        <% end %>
        <hr>
        <div class="card-container mt-3">
          <h1>Playsnap covers these 5 areas of development:</h1>
          <div class="card-product">
            <%= image_tag("social.svg") %>
            <div class="card-product-infos">
              <h2>Social</h2>
              <p>Includes forming relationships, collaborate, resolve conflicts</p>
            </div>
          </div>
          <div class="card-product">
            <%= image_tag("emotional.svg") %>
            <div class="card-product-infos">
              <h2>Emotional</h2>
              <p>Includes self-expression, recognising and controlling emotions, empathy</p>
            </div>
          </div>
          <div class="card-product">
            <%= image_tag("cognitive.svg") %>
            <div class="card-product-infos">
              <h2>Cognitive</h2>
              <p>Includes understanding, learning, problem-solving, attention, memory</p>
            </div>
          </div>
          <div class="card-product">
            <%= image_tag("fine-motor.svg") %>
            <div class="card-product-infos">
              <h2>Fine Motor</h2>
              <p>Finger and hand skills such as grasping, sorting, eating, picking</p>
            </div>
          </div>
          <div class="card-product">
            <%= image_tag("gross-motor.svg") %>
            <div class="card-product-infos">
              <h2>Gross Motor</h2>
              <p>Movements using larger muscle groups such as rolling, crawling, bouncing</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
