<% content_for :title do %>
  <%= image_tag("playsnap_logo.png", style: "width: 100px") %>
<% end %>

<div class="container">
  <div class="row">
    <div class="col-xs-12.col-sm-3.col-sm-offset-4">
      <div class="homepage">

        <h4 class="mb-3">Independent play activities with ANYTHING you have on hand, in a snap!</h4>
          <label for="objectToSearch" class="form-label">I have</label>
          <%= form_with url: activities_path,
                        method: :get, html:
                        {class: "mb-3"} do |f| %>
          <%= f.text_field :query,
                            class: "form-control mb-3",
                            placeholder: "object" %>

          <label for="ageRange" class="form-label">for</label>

          <%= f.select(:age_group, [["0 - 12 mths", "1"], ["12 - 24 mths", "2"], ["24 - 36 mths", "3"]], {}, {class: "form-select form-select-lg mb-3"}) %>

          <label for="category" class="form-label">to develop</label>

          <%= f.select(:category_id,Category.all.map { |c| [c.sort.titleize, c.id] } , {}, {class: "form-select form-select-lg mb-3"}) %>
             <div class="form-actions text-center">
              <%= f.button "Search", class:"btn btn-primary btn-action"%>
            </div>
            <% end %>
      </div>
    </div>
  </div>
</div>
