<% content_for :title do %>
  <h1>Sign in</h1>
<% end %>

<div class="container">
  <div class="row">
    <div class="col-xs-12.col-sm-3.col-sm-offset-4">
      <div class="playsnap-container">
        <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name), data: { turbo: :false }) do |f| %>
          <div class="form-inputs">
            <%= f.input :username,
                        required: false,
                        autofocus: true,
                        input_html: { autocomplete: "username" },
                        placeholder: "alex" %>
            <%= f.input :password,
                        required: false,
                        input_html: { autocomplete: "current-password" },
                        placeholder: "......" %>
            <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
          </div>
          <div class="form-actions text-center">
            <%= f.button :submit, "Sign in", class:"btn-primary btn-action mb-3"%>
            <br>
          </div>
          <% end %>

          <div class="render text-center">
            <%= render "devise/shared/links" %>
          </div>
      </div>
    </div>
  </div>
</div>
