<p style="color: green"><%= notice %></p>

<%= render @wishlist %>

<div>
  <% if policy(@restaurant).edit? %>
    <%= link_to "Edit this wishlist", edit_wishlist_path(@wishlist) %> |
  <% end %>
  <%= link_to "Back to wishlists", wishlists_path %>

  <%= button_to "Destroy this wishlist", @wishlist, method: :delete if policy(@wishlist).destroy? %>
</div>
