<% content_for :title do %>
  <h1>Explore</h1>
<% end %>

<div class="activity">
  <%= image_tag(@activity.image_url, class:"w-100 activity-image") %>
  <div class="container mb-5">
    <div class="mt-2">
      <span class="badge rounded-pill bg-info text-dark"><%= @activity.age_group %></span>
      <span class="badge rounded-pill bg-info text-dark"><%= @activity.category.name.titleize %></span>
    </div>
    <div class="mt-2 d-flex justify-content-between activity-title">
      <span><%= @activity.title %></span>
      <div class="d-flex">
        <span><%= button_to "", "#", class:"border-0 fa-regular fa-heart bg-transparent" %></span>
        <span><%= button_to "", "#", class:"border-0 fa fa-share-alt bg-transparent" %></span>

        <span
          data-controller="bookmark-button" data-bookmark-button-activity-id-value="<%= @activity.id %>"
          data-bookmark-button-user-id-value="<%= current_user.id %>"
          >
          <%= button_to "",
              "/wishlists",
              class:"border-0 bg-transparent fa-regular fa-bookmark",
              data: {
                action:"click->bookmark-button#send",
                bookmark_button_target:"button"} %>
        </span>
      </div>
    </div>
    <div class="mt-2">
      Rating: <%= @activity.average_rating %>
    </div>
    <div class="mt-2"
      <%= @activity.description %>
    </div>
    <div class="mt-2">
      <% if @activity.reviews.blank? %>
        What do you think of this activity?
        <%= render "reviews/form", activity: @activity, review: @activity.reviews.new %>
      <% else %>
        <% @activity.reviews.each do |review| %>
          <p><%= review.content %></p>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
