<% content_for :title do %>
  <div class="title-group">
    <%= render "back_button" %>
    <h1>Explore</h1>
  </div>
<% end %>

<div class="container">
  <div class="row">
    <%= image_tag(@activity.image_url, class:"w-100 activity-image g-0") %>
    <div class="col">
      <div class="page-container">
        <span class="badge rounded-pill bg-info text-dark"><%= @activity.age_group %></span>
        <span class="badge rounded-pill bg-info text-dark"><%= @activity.category.name.titleize %></span>
        <div class="mt-4 d-flex justify-content-between activity-title">
          <h2 class="activity-title"><%= @activity.title %></h2>
          <div class="d-flex">
            <%= render "share_button" %>
            <%= render "wishlists/wishlist_button", activity: @activity, wishlist: @wishlist %>
            <%= render "heart_button", activity: @activity, heart: @heart %>
          </div>
        </div>
        <div class="mt-1">
          <em>Average rating: <%= @activity.average_rating %></em>
        </div>
        <div class="mt-4">
          <h4>Description:</h4>
          <%= @activity.description %>
        </div>
        <div class="mt-4">
          <h4><%= pluralize @activity.reviews.count, "Review" %></h4>
            <% if @activity.reviews.count > 0 %>
              <% @reviews.first(3).each do |review| %>
                <span class="mt-4">
                  <p><strong><%= review.user.username.capitalize %></strong>: <%= review.content %> (Rating: <%= review.rating %>)</p>
                  <p class="timing"><small><%= review.review_time %></small>
                  <% if review.user_id == current_user.id %>
                    <%= link_to "", edit_activity_review_path(@activity, review.id), class:"icons fa-solid fa-pencil"  %>
                    <%= link_to "", review_path(review), data: { turbo_method: :delete, turbo_confirm: 'Delete review?' }, class:"icons fa fa-trash" %>
                  <% end %>
                  </p>
                </span>
              <% end %>
              <div class="mt-3 text-center">
                <% if @activity.reviews.count > 3 %>
                  <%= link_to "See all reviews >", activity_reviews_path(@activity) %>
                <% end %>
              </div>
            <% else %>
              <p>No reviews yet.</p>
            <% end %>
          <% unless @activity.reviews.pluck(:user_id).include? current_user.id%>
          <div class="mt-5">
            <h4>Share your thoughts with others!</h4>
            <%= render "reviews/form", activity: @activity, review: @activity.reviews.new, user: @activity.users %>
          </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
