<div class="review-container">
  <% activity.reviews.each do |review| %>
    <h3><strong><%= review.user.username.capitalize %></strong>: <%= review.content %></h3>
    <p>Rating: <%= review.rating %>/5</p>
    <% if review.user_id == current_user.id %>
      <%= link_to "Edit", edit_activity_review_path(@activity, review.id)  %> |
      <%= link_to "Delete", review_path(review), data: { turbo_method: :delete, turbo_confirm: 'Delete review?' } %>
      <hr>
    <% end %>
  <% end %>
</div>
