<!DOCTYPE html>
<html>
  <head>
    <title>Playsnap</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <%= favicon_link_tag asset_path("favicon.ico") %>
  </head>

  <body>
    <%= render "shared/navbar" %>
    <%= render "shared/flashes" %>

    <%= yield %>
    <%= render "shared/footer" %>
    <dialog id="turbo-confirm">
      <form method="dialog">
        <p>Are you sure?</p>
        <div>
          <button value="cancel">Cancel</button>
          <button value="confirm">Confirm</button>
        </div>
      </form>
    </dialog>
  </body>
</html>
