<!DOCTYPE html>
<html>
  <head>
    <title>Playsnap</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta property="og:url" content="https://playsnap.herokuapp.com/activities/<%= @activity %>" />
    <meta property="og:type" content="article" />
    <meta property="og:title" content="<%= @activity.title %>" />
    <meta property="og:description" content="<%= @activity.description %>" />
    <meta property="og:image" content="<%= @activity.image_url %>" />

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <%= favicon_link_tag asset_path("favicon.ico") %>
  </head>

  <body>
    <%= render "shared/navbar" %>
    <%= render "shared/flashes" %>

    <%= yield %>
    <%= render "shared/footer" %>
    <button id="turbo-confirm-button" type="button" style="display:none" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#turbo-confirm">
      Launch demo modal
    </button>
    <div id="turbo-confirm" class="modal fade" tabindex="-1">
      <form method="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Modal title</h5>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
            <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Confirm</button>
          </div>
        </div>
      </div>
      </form>
    </div>
  </body>
</html>
