<% content_for :title do %>
  <h1>Edit My Profile</h1>
<% end %>

<div class="container page-container" data-controller="image-preview">
  <div class="row">
    <div class="col-xs-12.col-sm-3.col-sm-offset">

         <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), data: { turbo: :false }) do |f| %>
          <%= f.error_notification %>
          <div class="text-center">
            <%= render 'shared/avatar',
              human: resource,
              size: "bordered",
              pointer: true,
              data: {
                "image-preview-target": "output",
                action: "click->image-preview#uploadFile"
              }
            %>
            <div class="mt-2 mb-3">
              <button type="button" class="btn btn-outline btn-sm" data-action="click->image-preview#uploadFile">
                Upload Photo
                <i class="fa-solid fa-arrow-up-from-bracket"></i>
              </button>
            </div>
          </div>
          <%= f.input :photo,
                      label: false,
                      required: true,
                      as: :file,
                      input_html: {
                        class: "d-none",
                        data: {
                          "image-preview-target": "input",
                          action: "image-preview#readURL"
                        }
                      } %>

          <div class="form-inputs mb-5">
            <%= f.input :username,
                        required: true,
                        autofocus: true,
                        input_html: { autocomplete: "username" },
                        placeholder: "AlexHanson"%>
            <%= f.input :email,
                        required: true,
                        autofocus: true,
                        input_html: { autocomplete: "email" },
                        placeholder: "alex@gmail.com"%>

          <div class="form-actions text-center mt-5">
            <%= f.button :submit, "Save", class:"btn-primary btn-action"%>
          </div>
          <% end %>

      </div>
    </div>
  </div>
</div>
