<% content_for :title do %>
  <h1>Parent profile</h1>
<% end %>

<div class="container">
  <div class="row">
    <div class="col-xs-12.col-sm-3.col-sm-offset">
      <div class="profile text-center">
        <%= image_tag("parent_avatar.png", style: "width: 100px") %>
        <br>
        <br>

        <%= link_to edit_user_path(@resource) do %>
          <div class="profile-card mb-3">
            <div class ="purple-box"></div>
            <div class="profile-text"><strong><%= "#{@resource.username.capitalize}" %></strong></div>
          </div>
        <% end %>

        <% @resource.children.each do |child| %>
          <%= link_to child_path(child) do %>
          <div class="profile-card mb-3">
            <div class ="yellow-box"></div>
            <div class="profile-text"><%= "#{child.name.capitalize}'s profile" %></div>
          </div>
          <% end %>
        <% end %>

        <%= simple_form_for(@resource.children.new, url: new_child_path, data: { turbo: :false }, method: :get) do |f| %>
          <div class="form-actions text-center">
            <%= f.button :submit, "Add Child", class:"btn-primary btn-action"%>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
