<% content_for :title do %>
  <h3>Parent profile</h3>
<% end %>

<div class="container">
  <div class="row">
    <div class="col-xs-12.col-sm-3.col-sm-offset">
      <div class="profile text-center">

           <%= image_tag("parent_avatar.png", style: "width: 100px") %>
        <br>
        <br>

        <div class="profile-card mb-3">
          <div class ="purple-box">
          </div>
          <div class="profile-text">
            Parent's profile
          </div>
           <%# <%= link_to user_path do %>
        </div>

        <div class="profile-card mb-3">
          <div class ="pink-box">
          </div>
          <div class="profile-text">
            Child's profile
          </div>
           <%# <%= link_to child_path do %>
        </div>

        <div class="profile-card mb-3">
          <div class ="yellow-box">
            <%# placeholder for color %>
          </div>
          <div class="profile-text">
            Child's profile
          </div>
           <%# <%= link_to child_path do %>
        </div>


      <%# <a href=''>Link To addChild_</a> %>

      <%# select class="form-select form-select-lg mb-3" %>

        <%# <div class="form-actions text-center">
          <%= f.button "Add child", class:"btn btn-primary btn-action" %>
        <%# </div> %>
      </div>
    </div>
  </div>
</div>
