<% content_for :title do %>
  <h1>Parent profile</h1>
<% end %>

<div class="container">
  <div class="row">
    <div class="col-xs-12.col-sm-3.col-sm-offset">
      <div class="profile text-center">

           <%= image_tag("parent_avatar.png", style: "width: 100px") %>
        <br>
        <br>

        <%= link_to edit_user_registration_path(resource_name) do %>
        <div class="profile-card mb-3">
          <div class ="purple-box"></div>
          <div class="profile-text">Parent's profile</div>
        </div>
        <% end %>

        <div class="profile-card mb-3">
          <div class ="pink-box">
          </div>
          <div class="profile-text">
            <%= link_to "Child's profile", child_path(@resource.children.first)%>
          </div>
        </div>

        <div class="profile-card mb-3">
          <div class ="yellow-box">
            <%# placeholder for color %>
          </div>
          <div class="profile-text">
            Child's profile
          </div>
           <%# <%= link_to child_path do %>
        </div>

     <%= simple_form_for(@resource, as: resource_name, url: registration_path(resource_name), data: { turbo: :false }) do |f| %>
          <div class="form-actions text-center">
            <%= f.button :submit, "Add Child", class:"btn-primary btn-action"%>
          </div>
          <% end %>
      </div>
    </div>
  </div>
</div>
